<% products_json = @products.index_by(&:code).as_json(only: [:code, :name, :price_cents ]).to_json.gsub('"', '&quot;') %>

<%= tag.div data: {
      controller: "builder",
      builder_products_value: products_json
    } do %>


  <h1>Available Products</h1>

  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td>€<%= '%.2f' % (product.price_cents / 100.0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <h2>Build Your Order</h2>

  <%= form_with url: cart_items_path, method: :post do %>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td>
              <input
                type="number"
                name="cart[<%= product.code %>]"
                min="0"
                value="0"
                data-builder-target="quantity"
                data-product-code="<%= product.code %>"
              />
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3>Total: €<span data-builder-target="total">0.00</span></h3>
    <p><em>Click "Add to cart" to see if your order qualifies for a discount.</em></p>
    <%= submit_tag "Add to cart" %>
  <% end %>

<% end %>
